*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
	line-height: 1.7em;
}
img{
	max-width: 100%;
	height: auto;
}
a{
    font-family: 'Lato', sans-serif;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	
}
.top-menu{
    width: 100%;
    color: #fff;
}
.header{
    width: 100%;
    background: url(../images/banner-bg.png) no-repeat center;
    background: cover;
    padding-bottom: 450px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: rgb(249, 145, 8);
    transition: 1s;
}
.navbar-expand-lg .navbar-nav .nav-link:focus{
    color: rgb(249, 145, 8);
}
.header .Adventure{
    text-align: center;
    color: #fff;
    padding-top: 90px;
}
.header .Adventure h1{
    font-size: 55px;
    font-weight: 800;
    padding: 0px 0px 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.header .Adventure p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0px 0px 40px;
}
.header .Adventure .btn{
    font-size: 18px;
    font-weight: 400;
    background: #fff;
    color: black;
    text-align: center;
    text-align: center;
    padding: 15px 36px;
    border-radius: 30px;
}
.header .Adventure .btn:hover{
    background: #05f669fb;
    transition: 1s;
}
.header .Adventure .btn:focus{
    background: #05f669fb;
}

.navbar .navbar-toggler{
    border: 1px solid #3d2514 !important;
    text-align: right !important;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 !important;
}
.navbar .navbar-toggler .fa-bars{
    display: inline-block;
    color: #fff;
}


/* services section start */

.services_section {
    width: 100%;
    padding: 40px 0px;
}

.services_taital {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bolder;
    text-align: center;
}

.services_text{
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #1f1f1f;
    padding: 0px 0px 20px;
    text-align: center;
}

.services_section_2 {
    width: 100%;
    margin-top: 90px;
}

.services_img {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

.btn_main {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.btn_main a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #2b2278;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
}

.btn_main a:hover {
    color: #ffffff;
    background-color: #000d10;
    transition: 1s;
}
.btn_main a:focus {
    color: #ffffff;
    background-color: #000d10;
}
.btn_main.active a {
    color: #ffffff;
    background-color: #000d10;
}


/* services section end */

/* about section start */

.about_section {
    width: 100%;
    padding: 80px 0px 90px;
}

.about_taital_main {
    width: 100%;
    padding-left: 100px;
    padding-top: 70px;
}

.padding_right_0 {
    padding-right: 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 45px;
    color: #1f1f1f;
    font-weight: 700;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
    color: #1f1f1f;
    margin: 0px;
    padding-top: 40px;
}

.readmore_bt {
    width: 170px;
    float: left;
    margin-top: 50px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #000d10;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #2b2278;
}

.about_img {
    width: 100%;
    float: left;
}

/* contact section end */


/* testimonial start */

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* testimonial end */


/* choose section start */

.choose_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.choose_taital {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: 800;
    text-align: center;
}

.choose_text {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    color: #1f1f1f;
    padding-top: 30px;
    text-align: center;
}

.read_bt_1 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #000d10;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.read_bt_1 a:hover {
    background-color: #2b2278;
    color: #ffffff;
}

.newsletter_box {
    width: 100%;
    border: 1px solid #6e6e6e;
    border-radius: 25px;
    padding: 20px 30px;
    display: flex;
    margin-top: 90px !important;
    float: left;
}

.let_text {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    padding-bottom: 0px;
}

.getquote_bt {
    width: 200px;
    padding-top: 6px;
}

.getquote_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #2b2278;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
}

.getquote_bt a:hover {
    background-color: #000d10;
    color: #ffffff;
    transition: 1s;
}
.getquote_bt a:focus {
    background-color: #000d10;
    color: #ffffff;
}

/* choose section end */

/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #363636;
    text-align: center;
    font-weight: bold;
}
.email_text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}
.email-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0px;
    border: 1px solid #2b2278 !important;
}
.massage-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0px;
    border: 1px solid #2b2278 !important;
}
.send_btn {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.send_btn a {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    border-radius: 30px;
    background-color: #000d10;
    padding: 7px;
}
.send_btn a:hover {
    color: #ffffff;
    background-color: #2b2278;
}
/* contact section end */



/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-image: url(../images/footer-bg.png);
    height: auto;
    padding-top: 250px;
    background-size: 100% 100%;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}

.input_btn_main {
    width: 50%;
    display: flex;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 8px 0px;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2b2c2c;
    background-color: #ffffff;
    height: auto;
    padding: 5px 20px;
    border-radius: 20px;
    border: 0px;
}

.subscribe_bt {
    float: right;
}

.subscribe_bt a {
    width: 170px;
    float: left;
    font-size: 18px;
    color: #2b2278;
    text-decoration: none;
    background-color: transparent;
    padding: 5px 0px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.subscribe_bt a:hover {
    color: #000;
    background-color: transparent;
}

.social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.social_icon li {
    float: left;
    padding: 30px 5px;
}

.location_main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.call_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding-top: 10px
}

.call_text a {
    color: #ffffff;
    text-decoration: none;
}

.call_text a:hover {
    color: #e27141;
}


/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #122c2d;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #e27141;
}